$primary-color: #00de5a;

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
}
